body {background: url("https://media.tenor.com/zMdZBjJ7gPkAAAAd/aesthetic-wallpaper.gif") fixed;background-repeat: repeat;background-size: 200px 200px;color: #000;}

 /* Overall background */
.main {
background: rgba(93, 188, 210, 0.7);
border: 1px solid #000;
box-shadow: none;
}


/* Change bar at top of page --------------------------*/ 
.welcomeback, .white, .bottomlinks li a:hover, .bottomlinks li a {
color: #000;
}

/* messages, logout, etc... */
.topbar {
background: rgba(200, 192, 23, 0.7);
border: 0px solid #000;
}

/* idk what this does?????*/
.badge {
background: rgba(100, 100, 100, 0.21);
border: 1px solid #000;
}
 
 
 /* Sidebar at right--------------------------*/
/* energy, achievements, etc.*/
.sidebar {
background: rgba(20, 35, 105, 0.7);
border: 0px solid #000;
border-bottom: 0px solid #000;
border-left: 0px solid #000;
color: #000;
}

/* Sidebar text? for headers*/
h1, h3 , .sidebar h3 {
font-family: Arial !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* Background for stuff like hunger stats, achievement progress bar*/
.col-md-3 .panel {
background: rgba(169, 255, 10, 0.5);
border: 0px solid #000;
box-shadow: none;    
}

/* link for sidebar stuff and chat room? */
.table a:link, .table a:active, .table a:visited, .right a:link, .right a:active, .right a:visited, .bottom a:link, .bottom a:active, .bottom a:visited, .topbar a:link, .topbar a:visited, .topbar a:active, a:link, a:visited, a:active {
color: #abc123;
}

/* ?????? */
h1, h3 , .sidebar h3 {
font-family: Arial !important;
text-align: left;
color: #000;
border-bottom: 1px solid #000;
}

/* color for progress bar and stats */
/*
.progress-bar {
background: #c5c5c5;
}
*/
 
 /* background for progress bars*/
.progress {
background: #123abc;
border: 0px solid #000;
}


/* Navigation bar at the top --------------------------*/
/* Den, crossroads, etc.. */
.navbar {
background: rgba(155, 55, 255, 0.7);
border-bottom: 0px solid #000;
color: #000;
}

.navbar-default .navbar-nav > li > a {
color: #000;
}
 
/* Hover over buttons */
.navbar-default .navbar-nav li a:hover {
color: #000;
background: #eae9ee;
border-left: 1px solid #000;
border-right: 1px solid #000;
} 


/* Tables --------------------------*/

/* main background */
.col-md-9 {
background: rgba(200, 100, 200, 0.5);
border: 0px solid #000;
}

 /* link color for like king baddie*/
.table .top a:link, .table .top a:active, .table .top a:visited, .table th a:link, .table th a:active, .table th a:visited {
border-bottom: 0px solid #000000;
color: #aaaaaa;
}

/* Buttons */
/*bookmark, save, update page buttons*/
input[type="button"], input[type="submit"], input[type="submit"]:hover {
background: rgba(255, 69, 69, 0.7);
color: #000;
border: 0px solid #000;
text-shadow: none;
font-weight: bold;
font-size: 14px;
}
 
#lion_image {
border-radius: 0px;
overflow: hidden;
border: 0px solid #000;
}

.alert-danger {
color: #000000;
background: rgba(0, 255, 0, 0.21);
border: 1px solid #000;
}

.alert-success {
color: #000;
background: rgba(0, 0, 255, 0.21);
border: 1px solid #000;
}

/* navigation bar: home / den */
.breadcrumb {
background:  rgba(200, 100, 200, 0.21);
font-size: 13px;
border: 0px solid #000;
}
.breadcrumb>.active {
color: #000;
}
 
h1 small, h2, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: "Carter One";
color: #000;
}
 
 /*background of content (like behind lion image)*/
.table, .item {
border: 0px solid #000;
background: rgba(255, 0, 0, 0.7);
border-collapse: separate;
}

.table .right, .table .right_odd {
background: none;
border: 0px solid #000;
}

/* background for stuff like "current password"*/
div .feature, .cave-grid, div .left, .mound-grid,  .table .bottom,  .table .top, .table th, .item-header, .item-footer {
border: 0px solid #000;
background: rgba(0, 255, 0, 0.7);
color: #000;
}

/* stuff behind icons like dens*/
.cave-grid, div .left, .mound-grid {
border: 0px solid #000;
background: #abcdef;
color: #000;
}

/* title like "dreamboat of ladies king baddie"*/
.table .left {
border: 0px solid #000;
background: rgba(0, 0, 255, 0.7);
color: #000;
}

/* background for content like value for stats, value for territory*/
.inner-table .right {
background: rgba(0, 0, 0, 0.7);
border: 0px solid #000;
border-left: none;
}


/* Chat --------------------------*/
 
.chat_light, .chat_dark {
background: rgba(255, 0, 0, 0.21);
font-size: 11px;
color: #000;
}

.chatContainer {
border: 0px solid #000;
}
 
.userstolen {
background: none;
}

